body {
	background: #222;
	text-align: center;
}

.logo {
	margin: 20px 0 0;
	width: 100%;
}

.instructions {
	color: rgba(255, 255, 255, 0.9);
	margin: 15px 0 25px;
}

label {
	color: white;
	display: block;
	margin: 0 0 5px;
	text-align: left;
}

input {
	background: rgba(255, 255, 255, .2);
	border-radius: 4px;
	border: 0;
	color: white;
	display: inline-block;
	font-size: 16px;
	line-height: 58px;
	outline: none;
	padding: 0 20px;
	width: calc(100% - 40px);
	margin: 0 0 10px;
}

button {
	background: #8cc449;
	border-radius: 4px;
	border: 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 58px;
	outline: none;
	margin: 15px 0 0;
	padding: 0 48px;
	width: 100%;
}

a {
	color: #8cc449;
	text-decoration: none;
	margin: 15px 0;
	display: block;
}
