body {
	background: #222;
}

.logo {
	margin: 20px 0 0;
	width: 100%;
}

.instructions {
	color: rgba(255, 255, 255, 0.9);
	margin: 15px 0 25px;
}

.btn {
	padding: 0;
	height: 60px;
	width: 100%;
	border-radius: 4px;
	border: 0px solid #fff;
	margin: 0;
	float: left;
	cursor: pointer;
	font-weight: 600;
}

.btn .label {
	line-height: 60px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
}

.btn .brand {
	width: 48px;
	height: 60px;
	background: rgba(255, 255, 255, 0.1);
	float: left;
}

.btn .brand .icon {
	margin: 18px 12px;
	width: 24px;
	height: 24px;
	display: block;
}

.btn .brand .icon-google {
	background: url('/assets/images/icon-google-white.png') no-repeat;
	background-size: 24px 24px;
}

.btn.btn-google {
	background: #4285f4;
	transition: background .3s ease-in-out;
}

.btn.btn-google:hover {
	background: rgba(66,133,244, 0.8);
}